<body class="page-bg">
<div class="container">
  <div class="row top-spacing">
    <div class="col-md-4">
      <div class="card box-shadow" style="width: 20rem;">
        <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= @profile.first_name %> <%= @profile.last_name %></h4>
          <p class="card-text">Email: <%= @profile.user.email %></p>
          <p class="card-text">Location: <%= @profile.location %></p>
          <p class="card-text">Total Donations: <%= @profile.user.donations.sum(:amount) %></p>
          <p> <%= link_to "Edit Profile", edit_profile_path, class:"btn btn-primary" %> </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-md-12 profile-spacing">
        <p id="notice"><%= notice %></p>
        <div class="card box-shadow">
          <div class="card-header">
            Bio
          </div>
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p><%= @profile.bio %></p>
            </blockquote>
          </div>
        </div>
        </br>
        <div class="card box-shadow">
          <div class="card-header">
            Donations Made
          </div>
          <div class="card-block">
            <% @profile.user.donations.each do |donation| %>
            <blockquote class="card-blockquote">
              <p><%= donation.project.title %></p>
              <p><%= donation.amount %></p>
              <p><%= donation.project.created_at %></p>
            </blockquote>
            <% end %>
          </div>
        </div>
        </br>
        <div class="card box-shadow">
          <div class="card-header">
            My Projects
          </div>
          <div class="card-block">
            <% @profile.user.projects.each do |project| %>
            <blockquote class="card-blockquote">
              <p><%= project.title %></p>
              <p><%= project.funded_amount %></p>
              <p><%= project.created_at %></p>
              <p>Funded? <%= project.funded %></p>
            </blockquote>
            <% end %>
          </div>
        </div>
        <%= link_to 'Back', profiles_path %>
      </div>
    </div>
  </div>
</div>
</body>