<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-white text-center">Fund a social cause</h1>
    <p class="lead text-white text-center">Watch it branch out. Feel happy.</p>
    <br>
    <p class="lead text-center">
      <a class="large-shadow-btn" href="#" role="button">Sign Up</a>
    </p>
  </div>
</div>

<div class="container">
  <h3>Projects</h3>
</div>

<!-- Projects start here -->
<div class="container-fluid page-bg">
  <div class="container searchbar-margin">
   <input class="searchbar-input" type="text" placeholder="Search" id="search-input">
  </div>
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
      <div class="col-sm-6">
        <div class="card project-card-margin box-shadow">
          <img class="card-img-top" src="<%= project.picture.url %>" alt="Card image cap">
          <div class="card-block">
            <h3 class="card-title"><%= project.title %></h3>
            <h6 class="card-subtitle mb-2 text-muted"><%= project.user.email %></h6>
            <h6 class="card-subtitle mb-2 text-muted">Created: <%= time_ago_in_words(project.created_at) %> ago</h6>
            <p class="card-text"><%= project.pitch %></p>
            <%= link_to 'Show', project, class:'btn btn-primary large-shadow-btn' %>
          </div>
          <div class="card-footer">
            Requested: <%= number_to_currency(project.request_amount) %>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= percent_funded(project.funded_amount, project.request_amount) %>" aria-valuenow="<%= percent_funded(project.funded_amount, project.request_amount).to_i %>" aria-valuemin="0" aria-valuemax="100"><%= percent_funded(project.funded_amount, project.request_amount).to_i %>% FUNDED</div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Contact form -->
<div class="container center-block">
  <%= render 'partials/mail' %>
</div>