<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-white text-center">Fund a social cause</h1>
    <p class="lead text-white text-center">Watch it branch out. Feel happy.</p>
    <br>
    <p class="lead text-center">
      <a class="large-shadow-btn" href="#" role="button">Sign Up</a>
    </p>
  </div>
</div>

<div class="container">
  <h3>Projects</h3>
</div>

<!-- Projects start here -->
<div class="container-fluid page-bg">
  <div class="container">
    <div class="row projects-margin">
      <% @projects.each do |project| %>
      <div class="col-sm-6">
        <div class="card project-card-margin box-shadow">
          <img class="card-img-top" src="<%= project.picture.url %>" alt="Card image cap">
          <div class="card-block">
            <h3 class="card-title"><%= project.title %></h3>
            <h6 class="card-subtitle mb-2 text-muted">Funded: <%= number_to_currency(project.funded_amount) %></h6>
            <p class="card-text"><%= project.user.email %></p>
            <a href="#" class="btn btn-primary">Link</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Contact form -->
<div class="container center-block">
  <%= render 'partials/mail' %>
</div>