<div class="container">
<p id="notice"><%= notice %></p>

<h4>
  <%= @donation.user.email %> donated $<%= number_to_currency(@donation.amount) %> to project "<%= @donation.project.title %>"
</h4>

<%= link_to 'Edit', edit_project_donation_path(@donation) %> |
<%= link_to 'Back', project_donations_path %>
</div>