<div class="container">
<p id="notice"><%= notice %></p>

<h4>
  <%= @donation.user.email %> donated <%= number_to_currency(@donation.amount) %> to project "<%= @donation.project.title %>"
</h4>

<%= link_to 'Back', projects_path %>
</div>