<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>
  </div>

  <h4>Please write a short summary of your project</h4>
  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_field :summary, class:'form-control' %>
  </div>

  <h4>Please write a creative pitch for your project. Include as much information as possible</h4>
  <div class="form-group">
    <%= f.label :pitch %>
    <%= f.trix_editor :pitch, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :request_amount %>
    <%= f.number_field :request_amount %>
  </div>

  <h4>Image</h4>
  <div class="form-group">
  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <div class="actions">
    <%= f.submit "Create Project", class: 'btn btn-primary' %>
  </div>
<% end %>