<body class="page-bg">
  <div class="container-fluid page-bg">
    <div class="container">
      <div class="row page-margin">
        <div class="col-8">
          <%= image_tag @project.picture.url, class:'main-image' %>
        </div>
        <div class="col-4">
          <h2>Requested: <%= number_to_currency(@project.request_amount) %></h2>
          <h2><%= percent_funded(@project.funded_amount, @project.request_amount).to_i %>% Funded</h2>
          <h2><%= @project.user.profile.first_name %> <%= @project.user.profile.last_name %></h2>
          <h4><%= @project.user.profile.location %></h4>
          <%= link_to 'Donate', new_project_donation_path(@project.id), class:'large-shadow-btn' %>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h1><%= @project.title %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h4>By <%= @project.user.profile.first_name %> <%= @project.user.profile.last_name %></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <%= raw @project.pitch %>
        </div>
        <div class="col-4">
          <h4>Donations feed</h4>
          <% @project.donations.each do |donation| %>
          <div><%= donation.user.profile.first_name %> donated <%= number_to_currency(donation.amount) %></div>
          <% end %>
        </div>
      </div>
      <div class="row">
      
      </div>
    </div>

    <p>
      <strong>Funded amount:</strong>
      <%= @project.funded_amount %>
    </p>

    <p>
      <strong>Funded:</strong>
      <%= @project.funded %>
    </p>

    <p>
      <strong>Next project funded:</strong>
      <%= @project.next_project_funded %>
    </p>

    <% if current_user == @project.user_id %>
      <%= link_to 'Edit', edit_project_path(@project) %>
    <% end %>
    <%= link_to 'Back', projects_path %>
  </div>
</body>