<div class="container">
  <p id="notice"><%= notice %></p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Details</th>
        <th>Requested Amount</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <%= @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
      </tr>
      <tr>
        <td><%= project.pitch %></td>
      </tr>
      <tr>
        <td><%= project.request_amount %></td>
      </tr>
          <tr>
        <td><%= project.city %></td>
      </tr>
      <tr>
        <td><%= project.country %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>