<div class="container">

  <%= image_tag @project.picture.url if @project.picture? %>

  <p>
    <h1><%= @project.title %></h1>
  </p>

  <p>
    <strong>Pitch:</strong>
    <%= raw @project.pitch %>
  </p>

  <p>
    <strong>Request amount:</strong>
    <%= @project.request_amount %>
  </p>

  <p>
    <strong>Funded amount:</strong>
    <%= @project.funded_amount %>
  </p>

  <p>
    <strong>Funded:</strong>
    <%= @project.funded %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @project.user.profile.first_name %>
  </p>

  <%= image_tag @project.picture.url if @project.picture? %>

  <p>
    <strong>Next project funded:</strong>
    <%= @project.next_project_funded %>
  </p>

  <p>
    <%= link_to 'Donate', new_project_donation_path(@project.id), class:'btn btn-primary' %>
  </p>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>